{% extends 'gamepedia/layout.html' %}
{% load static %}
{% block title %}New Game{% endblock %}
{% block body %}
<link href="{% static 'gamepedia/newgame.css' %}" rel="stylesheet">
<script src="{% static 'gamepedia/newgame.js' %}"></script>

<div class="form_container">
    <form action="/newgame" method="POST">
        <div class="form-group">
        {{ new_game_form }}
        </div>
        <button type="submit" class="btn btn-primary" id="submit">Submit</button>
</form>
</div>

{% endblock %}